h1{
    width: 200px;
    height: 150px;
    background-color: aqua;
    text-align : center;
    line-height: 150px;

    border-width: 20px;
    border-style: dotted;
    border-color: rgb(169, 23, 23);

    /* border: 10px dashed gray; */

    border-top: 10px solid green;
    border-bottom: 10px solid rgb(16, 16, 10); 
    border-left: 10px solid salmon;
    border-right: 10px solid red; 

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;  

    /* border-radius: 50px; 
    border-radius: 20px 40px;
    border-radius: 20px 40px 60px; 
    border-radius: 60px 60px 60px 60px; */

    /* outline-width: 10px;
    outline-color: red;
    outline-style: dotted; */

    outline: 10px dashed yellow;
    
}