*{
    margin: 0px;
    padding: 0%;
}
ul{

}
ul li{
    list-style: none;
    float: left;
}
ul li a{
    text-decoration: none;
    width: 100px;
    height: 50px;
    background-color: bisque;
    color: black;
    display: block; /* jagya chodva mate */
    margin: 10px;
    padding: 10px;
    text-align: center;
    line-height: 50px;
    float: left;
    border-radius: 10px;
    border: 2px solid black;
}
ul li a:hover{
    color: blue;
    background-color: aquamarine;
}
ul ul {
    display: none;
}
ul ul li{
    float: none;
    position: relative;
}
ul ul li a{
    background-color: chartreuse;
}
ul li:hover > ul{
    display: block;
}
ul ul ul{
    position: absolute;
    left: 100%;
    top: 100px;
}