*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.w-100{
    width: 100%;
    background-color: aqua;
}
.w-1140{
    width: 1320px;
    margin: auto;
    /* background-color: bisque; */
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.w-33{
    width: calc(33.33% - 30px);
    height: 200px;
    background-color: pink;
    margin: 15px;
    /* box ni bane side left and right side 15px space rese */
}

/* @media (max-width:576px) {
    .w-33{
        width: calc(50% - 30px);
        height: 200px;
        background-color: pink;
        margin: 15px;
    }
} */

@media (max-width: 1400px) {
    .w-1140{
        width: 1320px;
    }
}
@media (max-width:1200px) {
    .w-1140{
        width: 1140px;
    }   
}
@media (max-width:992px) {
    .w-1140{
        width: 960px;
    }   
}
@media (max-width:768px) {
    .w-1140{
        width: 720px;
    } 
}
@media (max-width:576px) {
    .w-1140{
        width: 100%;
    } 
}


@media (min-width:1201px) and (max-width:1320px) {
    .w-1140{
        width: 1190px;
    }
}
@media (min-width:993px) and (max-width:1140px) {
    .w-1140{
        width: 960px;
    }
}
@media (min-width:769px) and (max-width:960px) {
    .w-1140{
        width: 750px;
    }
}
@media (min-width:577px) and (max-width:720px) {
    .w-1140{
        width: 550px;
    }
}



@media (max-width:960px) {
    .w-33 {
        width: calc(50% - 30px);
    }
}

@media (max-width:470px) {
    .w-33 {
        width: 100%;
    }
    
}
 
